*{padding: 0; margin: 0 auto}   


    body{
      background: black;
      background-image: url("img/back2.jpg");
      background-repeat: round;
    }
    	
    .container{
      margin-top: 5px;
      margin-bottom: 5px; 
      padding: 5px;
      border-radius: 10px;
      border: solid red;
      box-shadow: 0 0 15px red;
      background: black;
    }

    label{
      color: #ffff;
      font-family: cursive;
      box-shadow: 0 0 10px red;
      padding: 2.5px;
      background: black;
      border-radius: 5px;
      padding-right: 5px;
      padding-left: 5px;
      margin: 5px auto;

    }

    .form-control{
       line-height: 18px;
}

    .row{
      color: white;
      font-weight: bolder;
      text-align: center;
      font-size: 13px;
    }

    .parcial{
      color: #ffff;
      font-family: cursive;
      box-shadow: 0 0 10px red;
      padding: 2.5px;
      background:  black;
      border-radius: 5px;
      padding-right: 5px;
      padding-left: 5px;
      margin: 5px auto;
    }

h6{
font-weight: bolder;
color: red;
font-size:20px;
text-align: center;
}

.bot{
  margin: 10px auto;
}

p{
 line-height: 1.2;
 color: white;
}

button {
  margin: 5px auto;
  margin-left: 10px;
  border: solid red;
  box-shadow: 0 0 5px red;
}

.box{
  width: 20%;
  float: left;
}

.senha{
  font-size: 11px;
}

.btn{
 width: 20%; 
 height: 85px;
 font-size: 13px;
}

.centra{
  text-align: center;
}

.ninja{
  background-image: url("img/200.gif");
  background-size: 100%;
}

.toc{
  height: 34px;
  width: 16.5%;
  background: red;
}

#foo{
  width: 80%;
  height: 32px;
  box-shadow: 0 0 12px red;
}
.separacao {
  border: solid red;
}
