*{padding: 0; margin: 0 auto}   


    body{
      background: black;
      background-repeat: round;
    }
    	
    .container{
      margin-top: 5px; 
      margin-bottom: 5px; 
      padding: 5px;
      border-radius: 10px;
      border: solid white;
      box-shadow: 0 0 15px white;
      background: url("img/01.jpg");
    }

    label{
      color: #ffff;
      font-family: cursive;
      box-shadow: 0 0 10px white;
      padding: 2.5px;
      background: black;
      border-radius: 5px;
      padding-right: 5px;
      padding-left: 5px;
      margin: 5px auto;

    }

    .form-control{
       line-height: 18px;
}

    .row{
      color: white;
      font-weight: 900;
      text-align: center;
      font-size: 13px;
      margin: 5px;
      text-shadow: 0 1px 2px blue;
    }

    .parcial{
      color: #ffff;
      font-family: cursive;
      box-shadow: 0 0 10px white;
      padding: 2.5px;
      background: black;
      border-radius: 5px;
      padding-right: 5px;
      padding-left: 5px;
      margin: 5px auto;
    }

h6{
font-weight: bolder;
color: red;
font-size:20px;
text-align: center;
}

.bot{
  margin: 10px auto;
}

p{
 line-height: 1.2;
 color: white;
}

button {
  margin: 5px auto;
  margin-left: 10px;
  border: solid white;
  box-shadow: 0 0 5px white;
}

.box{
  width: 20%;
  float: left;
}

.senha{
  font-size: 12px;
}

.btn{
 width: 22%; 
 height: 70px;
 font-size: 12px;
 text-shadow: 0 0 5px black;
 background-image: url(img/back2.jpg);
}

.lock{
  height: 30px;
  width: 22%;
  font-size: 12px;
}

.lock2{
  height: 30px;
  width: 47%;
  font-size: 12px;
}

.centra{
  text-align: center;
}

.ninja{
  background-image: url("img/200.gif");
  background-size: 100%;
}

.toc{
  height: 34px;
  width: 16.5%;
  background: width;
}

#foo{
  width: 80%;
  height: 32px;
  box-shadow: 0 0 12px white;
}
.separacao {
  border: solid white;
}

.baseshop{
	font-size: 20px;
	color: #f562e9;
}
.ativo{
	color:width;
}
.ativa2{
	background-image: url("img/tec.gif");
	font-weight: bolder;
  color: blue;
  background-repeat: round;
}
.btn-dark{
	font-weight: bolder;
}

-----------------------

.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.43);
}

.text-item {
	position: absolute;
	left: 5%;
	right: 5%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.branco2{
  margin-top: 20px;
	color: white;
	text-shadow: 0 0 15px black;
}

.bntspi1{
  margin-top: 20px;
  color: white;
  text-shadow: 0 0 15px black;
  width: 30%;
}