
*{font-family: arial;}

    body{
      background-image: url("nova01.jpg");
      background-repeat: round;
    }
    	
    .container{
      margin-top: 5px;
      margin-bottom: 5px; 
      padding: 5px;
      border-radius: 10px;
      border: solid #ff96f8;
      box-shadow: 0 0 15px white;
      background-image: url("novo01.jpg");
    }

    label{
      color: black;
      font-family: cursive;
      box-shadow: 0 0 10px white;
      padding: 2.5px;
      background:  black;
      border-radius: 5px;
      padding-right: 5px;
      padding-left: 5px;
      margin: 5px auto;
      background-image: url("nova01.jpg");
    }

    .form-control{
       line-height: 18px;
}

    }

    .naomuda{
      color: black;
      font-weight: bolder;
      text-align: center;
      
    }

    .parcial{
      color: #ffff;
      font-family: cursive;
      box-shadow: 0 0 10px #666;
      padding: 2.5px;
      background:  black;
      border-radius: 5px;
      padding-right: 5px;
      padding-left: 5px;
    }

h6{
font-weight: bolder;
color: #ff96f8;
font-size:20px;
text-align: center;
}

.bot{
  margin: 10px auto;

}

p{
 line-height: 1.2;
 color: white;
}

button{
  background: #666;
  margin: 5px auto;
  margin-left: 10px;
  box-shadow: 0 0 10px black;
  color: white;
  border: solid #ff96f8;
  box-shadow: 0 0 10px #ff96f8;

}

.box{
  font-size: 10px;
  width: 50%;
  float: left;

}

.senha{
  font-size: 15px;
}

.btn{
 color: black;
 background-image: url("nova01.jpg");
 width: 30%; 
 height: 100px;
 font-size: 18px;

}

.centra{
  text-align: center;

}

.dica{
  text-align: left;
}


